*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Arial,;
}
body {
    background: #fff;
}

/* HEADER */
header {
    background: #e60000;
    padding: 15px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    display: inline-block;
    color: white;
    border: 3px solid white;
    padding: 8px 25px;
    border-radius: 30px;
    font-size:clamp(16px, 3VW, 24px) ;
    font-weight: bold;
}

/* NAV */
nav {
    background: #6b6b6b;
    padding: 12px 0;
    position: sticky;
    top: 9px;
    z-index: 999;
}
nav ul {
list-style: none;
display: flex;
justify-content: space-around;
max-width: 900px;
margin: 0 auto;
}
