*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Arial,;
}
body {
    background: #fff;
}

/* HEADER */
header {
    background: #e60000;
    /* padding: 15px 10px; */
    text-align: center;
    position: fixed;
    /* z-index: 1; */
    width: 100%;
    /* top: 0; */
    /* z-index: 1000; */
}
.logo {
    display: inline-block;
    color: white;
    border: 3px solid white;
    padding: 8px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: clamp(16px, 3VW, 24px) ;
    font-weight: bold;
}

/* NAV */
nav {
    background: #6b6b6b;
    padding: 12px 0;
    /* position: sticky; */
    /* top: 65px; */
    /* z-index: 999; */
}
nav ul {
list-style: none;
display: flex;
justify-content: space-around;
/* max-width: 900px; */
/* margin: 0 auto; */
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
}
nav a.active, nav a:hover {
    background: red;
    color: white;
}

/* mario banner*/
.banner img {
    width: 100%;
    margin-top: 122px;
}
/* CONTENT */
.content {
    padding: 20px 5%;
    max-width: 1100px;
    margin: 0 auto;
}
.content h2 {
    color: red;
    text-align: center;
    font-size: clamp(22px, 4VW, 32px) ;
}
.content p {
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 15px; 
}